extends layout

block content
  .container
    if message != ""
        p.alert.alert-success= message
    if error != ""
        p.alert.alert-danger= error

    form.form-signin(role='form', action=`/forgot_password`,method="post")
        .row
            .col-md-6.col-sm-6
                h4 Forgot Password
                br               
                p Enter username(email) to receive an email to reset password.
                br 
                input.form-control(type='text', name="username", placeholder='username')
                br
        .row            
            .col-md-6.col-sm-12
                button.btn.btn-primary.btn-block(type='submit') FORGOT PASSWORD      
            .col
            .col
        