extends layout

block content
  .jumbotron
    h3 Welcome to passport-boilerplate
    ul
      li This project supports common auth api endpoints. 
      li Please visit github for more info: https://github.com/guanwill/passport-boilerplate/tree/feature/api