extends layout

block content
  .jumbotron
    h3 Welcome to passport-boilerplate
    ul
      li This project supports common auth api endpoints. 
      li Please visit repo for more info: <a href="https://github.com/guanwill/passport-boilerplate/tree/feature/api">github link</a>