extends layout

block content
  .container
    if error != ""
      p.alert.alert-danger= error
    if message.length > 0
      p.alert.alert-success= message
    
    form.form-signin(role='form', action='/api/v1/auth/login', method='post', style='max-width: 300px;')
      h2.form-signin-heading Login
      br
      label.sr-only(for='inputEmail')
      input.form-control(type='text', name='username', id='inputEmail', placeholder='Username', required, autofocus)
      br
      input.form-control(type='password', name='password', id='inputPassword', placeholder='Password')
      br
      button.btn.btn-primary.btn-block(type='submit') LOGIN
    br

    a(href='/api/v1/auth/forgot_password') Forgot password
    br
    a(href='/api/v1/auth/verify_account') Resend verification email
