extends layout

block content
  .container    
    if info
      p.alert.alert-danger= info
    
    h2.form-signin-heading Sign Up
    form.form-signin(role='form', action="/api/v1/auth/register",method="post", style='max-width: 300px;')      
      br
      input.form-control(type='text', name="name", placeholder='Name')
      br
      input.form-control(type='text', name="username", placeholder='Username')
      br
      input.form-control(type='password', name="password", placeholder='Password')
      br
      button.btn.btn-primary.btn-block(type='submit') SIGN UP
      br
    