extends layout

block content
    .container
        if message != ""
            p.alert.alert-success= message

        form.form-signin(role='form', action=`/reset_password/${token}`,method="post")
            .row
                .col-md-6.col-sm-6
                    h4 New Password
                    br               
                    p Enter new password
                    input.form-control(type='password', name="password", placeholder='password')
                    br
                    p Enter new password again
                    input.form-control(type='password', name="password_again", placeholder='password')
                    br
            .row            
                .col-md-6.col-sm-12
                    button.btn.btn-primary.btn-block.save_new_password(disabled type='submit') SAVE PASSWORD
                .col
                .col
    script.
        $(function() {
            // ensure new password is validated and is same across the two fields
            $('input[name="password"]').on('keyup', function() {
                if ( $('input[name="password"]').val().length > 0 && $('input[name="password"]').val() == $('input[name="password_again"]').val() ) {
                    $('.save_new_password').attr('disabled', false)
                } else {
                    $('.save_new_password').attr('disabled', true)
                }
            })
            $('input[name="password_again"]').on('keyup', function() {
                if ( $('input[name="password"]').val().length > 0 && $('input[name="password"]').val() == $('input[name="password_again"]').val() ) {
                    $('.save_new_password').attr('disabled', false)
                } else {
                    $('.save_new_password').attr('disabled', true)
                }
            })            
        })
        